{% extends 'main.html' %}

{% block login %}
    <div class="authform">
        <form action="/auth/login/" method="post">
            {% csrf_token %}

                <div class="inputfield">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" name="username" id="username" placeholder="Имя пользователя...">
                </div>
                <div class="inputfield">
                    <label for="password">Пароль:</label>
                    <input type="password" name="password" id="password">
                </div>

            <input type="submit" value="Войти">
            {% if login_error %}
                <label class="errors">{{ login_error }}</label>
            {% endif %}
            <br><br>
            <div class="regbutton"><a href="/auth/register/">Регистрация</a></div>

        </form>
    </div>
{% endblock %}