p {
	color: #000;
}

.row {
	width: 960px;
	margin: auto;
}

.registerform label {
	display: inline;
	padding-right: 10px;
}

.inputfield {
	padding-bottom: 10px;
}

.inputfield label {
	padding-right: 10px;
}

.registerform label:before {
	content:"\a\a";
    white-space: pre;
}
