{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Django</title>
	<link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if user.username %}
                <li><a href="/auth/logout/">Выйти ({{ user.username }})</a> </li>
                <li><a href="/users/all/">Все пользователи</a></li>
                <li><a href="/feed/">Новости</a></li>
            {% else %}
                <li><a href="/auth/login/">Войти</a></li>
            {% endif %}
        </ul>
    </section>

</div>
<h1><a href="/">Блогостенотвиттерообразное приложение</a></h1>
<div class="row">
{% block article %} {% endblock %}
{% block post %}
{% endblock %}
{% block login %}
{% endblock %}
{% block indexusers %}
{% endblock %}
{% block feed %}
{% endblock %}
</div>
</body>
</html>