{% extends 'main.html' %}
{% load staticfiles %}

{% block post %}
{% if user.username %}
    <hr align="left" width="62%">
    {% if user.id == target_user.id %}
        <h3>Ваша стена</h3>
        <hr align="left" width="62%">
        <div class="container">
            <form action="/posts/addpost/" method="post">
                {% csrf_token %}
                {{ post_form }}
                <div>
                    <input type="submit" class="button" value="Добавить пост">
                </div>
        </form>
        </div>
    {% else %}
        <h3>Стена пользователя {{ target_user.username }}</h3>
        <hr align="left" width="62%">
        <form action="/add_subscribe/{{ target_user.id }}/" method="post">
        {% csrf_token %}
                {% if subscribed  %}
                    <input type="submit" value="Отписаться">
                {% else %}
                    <input type="submit" value="Подписаться">
                {% endif %}
        </form>
    {% endif %}
{% endif %}

{% for post in posts %}
    {% if post.post_author_id == target_user.id %}
        <hr align="left" width="62%">
        <h5>{{post.post_text}}</h5>
        <p>
            <form action="/posts/addlike/{{post.id}}/" method="post">
                {% csrf_token %}
                <input type="image" src="{%static "plus.png" %}" width="20px" height="20px" content="">
                {{post.post_likes}}
            </form>
        </p>
        <h7>Опубликовано: {{post.post_date}} {{ post.post_author.username}}</h7>

    {% endif %}
{% endfor %}
{% endblock %}
