{% extends 'main.html' %}
{% load staticfiles %}



{% block post %}
{% if user.username %}
    <h2>Стена {{ target_user.username }}</h2>
    {% if user.id == target_user.id %}
        <form action="/posts/addpost/" method="post">
            {% csrf_token %}
            {{ post_form }}
            <input type="submit" class="button" value="Добавить пост">
        </form>
    {% endif %}
{% endif %}
{% for post in posts %}
    {% if post.post_author_id == target_user.id %}
        <p>{{post.post_text}}</p>
        <p>
            <form action="/posts/addlike/{{post.id}}/">
                {% csrf_token %}
                <input type="image" src="{%static "plus.png" %}" width="20px" height="20px"> {{post.post_likes}}
            </form>
        </p>
        <h6>Опубликовано: {{post.post_date}} {{ post.post_author.username}}</h6>
        <hr>
    {% endif %}
{% endfor %}
{% endblock %}
